@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700'); 
$font: 'Montserrat', sans-serif, 'Montserrat', century gothic, sans-serif;
@mixin bg( $bg ) {
    background: $bg;
}

body
{
    background: #f4f4f2;
    padding: 0px;
    margin: 0px;
    font-family: $font;
}

#header-parent
{
    height: 5em;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    @include bg( #614ad3 );
}

#demo-span
{
    font-weight: 900;
    font-size: 2em;
}

.container
{
    width: 50%;
    margin: auto;
    position: relative;

}

#hska-span
{
    color: grey;
    letter-spacing: .3em;
}

#card-view
{
    width: 100%;
    @include bg( white );
    margin-top: 4em;
    position: relative;
    box-shadow: 1px 1px #dcdcdc;
}


#git-icon-span 
{
    font-size: 4em;
    color: #614ad3;
}
#inner-box-div
{
    width: 90%;
    border-left: solid thin none;
    border-bottom: solid thin #dcdcdc;
    
    position: relative;
    top: 2em;
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2em;
    padding-bottom: 2em;
}

#desc-span
{
    color: grey;
    font-weight: 900;
    margin-left: 2em;
}

#bottom-desc-div
{
    width: 90%;
    text-align: center;
    color: grey;
    padding-bottom: 2em;
    margin: 4em auto;
    line-height: 1.6em;
}

a
{
    color: teal;
    text-decoration: none;
}

#grad-span
{
    font-size: 2em;
}

#visit-div:hover
{
    @include bg( #614ad3 );
    color: white;
    cursor: pointer;
    border-radius: .5em;
}
#visit-div
{
    border: solid thin #614ad3;
    padding: 1em;
    margin: 1em;
    width: 10em;
    text-align: center;
    color: #614ad3;
    transition: all .3s ease;
}

#parent-flexy-button-div
{
    display: flex;
    justify-content: flex-end;
}

#parent-footer
{
    font-size: .7em;
    color: #dcdcdc;
    padding: 1em;
    text-align: center;
}